* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 150vh;
}

.header {
    height: 80px;
    min-height: 80px;
    position: fixed;
    background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
}



.logo {
    background-image: url(../img/logo.png);
    display: inline-block;
    height: 58px;
    width: 166px;
    margin-top: 10px;
}

.nav {
    display: flex;
    float: right;
    margin-top: 20px;
    height: 40px;
}

.nav li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
}

.nav li a  {
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    color:#8d99af;
    font-weight: 500;

}

.nav li:not(.main-white-button) {
    text-transform: uppercase;
}

.main-white-button {
    padding: 0 20px;
    background-color: #8d99af;
    border-radius: 5px;
    margin-right: -30px;
}

.main-white-button a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #fff!important;
}

.main-white-button a i {
    /* font-size: ; */
    display: inline-block;
    background-color: #fff;
    color: #8d99af;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
}

.banner {
    background-image: url(../img/banner.jpg);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 290px 0 180px 0;
    height: 834px;
}

.banner .main-banner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0;
    height: 364px;
    /* background-color: #fff; */
    flex-direction: column;
}


.banner-header {
    width: 100%;
    height: 132px;
    text-align: center;
    color: #fff;
}

.banner-header h6 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-header h2 {
    height: 54px;
    line-height: 54px;
    font-size: 45px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 45px;
}

#search-form {
    border-radius: 999px;
}

.banner-search, #search-form {
    width: 100%;
    /* max-width: 100%; */
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}


.main-banner-search {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-form-item {
    width: 25%;
    padding: 0 12px;
    margin: auto auto;
}

.form-select {
    width: 100%;
    padding: 6px 36px 6px 50px;
    font-size: 15px;
    border-color: #fff;
    color: #333;
    border-radius: 0.25rem;
    outline: 0;
}

option {
    padding: 0px 2px 1px;
    min-height: 1.2em;
}


form#search-form input {
    width: 100%;
    height: 36px;
    border: none;
    font-size: 15px;
    font-family: inherit;
    line-height: inherit;
    outline: 0;
}

form#search-form .searchText {
    padding: 0 30px;
    border-left: 1px solid #8d99af;
    border-right: 1px solid #8d99af;
}

.search-button {
    width: 100%;
    height: 100%;
    background-color: #8d99af;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 12px;
}

.main-banner-search div:last-child {
    margin-right: -13px;
}

.search-button i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d99af;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

.banner-nav {
    width: 100%;
    height: 162px;
    text-align: center;
    padding: 0 122px;
}

.banner-nav .categories {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    height: 102px;
}

.banner-nav .categories li {
    display: inline-block;
    width: 18%;
    text-align: center;
    
}


.banner-nav .categories li a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.banner-nav .categories li .icon {
    display: block;
    margin: 0 auto 12px auto;
    width: 66px;
    height: 66px;
    line-height: 78px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    color: #8d99af;
    transition: 0.2s all linear;
}

.banner-nav .categories li .icon:hover {
    background-color: #2b2d42;
}

.banner-nav .categories li .icon img {
    max-width: 27px;
}


.popular-categories {
    margin-top: 120px;
    height: 801px;
}   

.popular-categories .section-heading {
    height: 167px;
    text-align: center;
    /* margin-bottom: 80px; */
}

.popular-categories .section-heading h2 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 44px;
    position: relative;
    color: #333;
}

.popular-categories .section-heading h6 {
    font-size: 15px;
    font-family: 500;
    color: #8d99af;
}

.popular-categories .section-services {
    height: 634px;
    position: relative;
    background-color: #2b2d42;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.popular-categories .section-services .menu-services {
    width: 25%;
    padding-right: 18px;
}

.popular-categories .section-services .menu-services .menu-service-item {
    height: 126px;
    background-color: #8d99af;
    font-size: 15px;
    text-align: left;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.4s all linear;
    color: #fff;
}


.popular-categories .section-services .menu-services .menu-service-item:not(:last-of-type) {
    margin-bottom: 1px;
}

.popular-categories .icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    line-height: 78px;
    background-color: #fff;
    margin-right: 15px;
}

.popular-categories .section-services .menu-services .menu-service-item:hover {
    background-color: #2b2d42;
    color: #fff;
}

/* MENU */
.menu-services:not(:hover) .second-service{
    background-color: #2b2d42!important;
}

.second-service {
    background-color: #2b2d42;
}

.first-service {
    background-color: #8d99af;
}

.second-service:not(:hover) {
    display: none;
}

.second-service:not(:hover) .first-service {
    display: block;
}

/* MENU */

.service-content {
    display: flex;
    width: 75%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0;
    justify-content: space-around;
    align-items: center;
}

.service-desc {
    width: 41.6667%;
    padding: 60px;
    line-height: 24px;
    color: #fff;
}

.service-desc h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 30px;
}

.service-desc p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 15px;
    width: 100%;
}

.service-img {
    width: 58.3333%;
    padding: 60px;
}


.popular-categories .section-services .main-white-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.popular-categories .section-services .main-white-button a {
    width: 100%;
    padding: 12px 25px;
    text-decoration: none;
}

.popular-categories .section-services .main-white-button a i {
    font-size: 12px;
    line-height: 22px;
}

.recent-listing {
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 120px;
    border-top: 1px solid #eee;
    overflow: hidden;
}

.listing {
    height: 1427px;
    overflow: hidden;
}

.recent-listing .section-heading {
    text-align: center;
    margin-bottom: 80px;
}

.recent-listing .section-heading h2 {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    line-height: 44px;
    margin-bottom: 25px;
}

.recent-listing .section-heading h6 {
    font-size: 15px;
    font-weight: 500;
    color: #8d99af;
    text-transform: uppercase;
}

.recent-listing .section-slides {
    position: relative;
    width: 300%;
    display: flex;
    background-color: #fff;
    animation: slideShow 6s infinite;
    overflow:hidden;
}

.recent-listing .slide {
    width: 1296px;
    height: 1221px;
    float: left;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}

.recent-listing .slide .slide-item {
    width: 100%;
    height: 407px;
    background-color: #f7f7f7;
    border-radius: 7px;
    margin-bottom: 30px;
    /* margin-right: 24px; */
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

/* .s1 {
    background-color: #fff;
    border: 1px solid #2b2d42;
}

.s2 {
    background-color: #fff;
    border: 1px solid #2b2d42;

}

.s3 {
    background-color: #fff;
    border: 1px solid #2b2d42;

} */

@keyframes slideShow {
    20%{
        margin-left: 0;
    }
    40%{
        margin-left: -100%;
    }
    60%{
        margin-left: -100%;
    }
    80%{
        margin-left: -200%;
    }
    100%{
        margin-left: -200%;
    }
}

.recent-listing .slide .slide-item .left-image {
    float: left;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.recent-listing .slide .slide-item .right-content {
    position: relative;
    padding: 60px;
    display: block;
}

.recent-listing .slide .slide-item .right-content ul.rate {
    position: absolute;
    left: 60px;
}

.recent-listing .slide .slide-item .right-content ul.rate li {
    display: inline-block;
}

.recent-listing .item .right-content ul.rate li:last-child {
    display: inline-block;
}

.recent-listing .slide .slide-item .right-content ul.rate .fa {
    font: normal normal normal 14px/1 FontAwesome;
    
}

.fa-star-o::before {
    content: "\f006";
    /* box-sizing: border-box; */
}

.recent-listing .slide .slide-item .right-content h4 {
    font-size: 20px;
    color: #2a2a2a;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}

.recent-listing .slide .slide-item .right-content h6 {
    font-size: 15px;
    font-weight: 500;
    color: #8d99af;
}

.recent-listing .slide .slide-item .right-content span.price {
    margin-top: 30px;
    color: #2a2a2a;
    display: block;
    margin-bottom: 15px;
}

.recent-listing .slide .slide-item .right-content span.price .icon {
    width: 30px;
    height: 30px;
    background-color: #8d99af;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    display: inline-block;
    margin-right: 10px;
}

.recent-listing .slide .slide-item .right-content span.price .icon img {
    max-width: 16px;
    text-align: center;
    display: inline-block;
}

.recent-listing .slide .slide-item .right-content span.details {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    color: #2a2a2a;
}

.recent-listing .slide .slide-item .right-content ul.info li {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    width: 100%;
}

.recent-listing .slide .slide-item .right-content ul.info li img {
    width: 100%;
    max-width: 30px;
    margin-right: 15px;
    display: inline;
}

.recent-listing .slide .slide-item .right-content .white-button {
    position: absolute;
    display: block;
    bottom: 60px;
    right: -200px;
    width: 187.016px;
    height: 47px;
}

.recent-listing .slide .slide-item .right-content > .white-button a {
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #2a2a2a;
    padding: 12px 25px;
    border-radius: 7px;
    letter-spacing: .25px;
    overflow: hidden;
    text-decoration: none;
    height: 47px;
    line-height: 22px;
}

.recent-listing .slide .slide-item .right-content > .white-button a:hover {
    background-color: #8d99af;
    color: #fff;
}

.recent-listing .slide .slide-item .right-content > .white-button a i {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background-color: #8d99af;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 22px
}