* {
    box-sizing: border-box;
    
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 150vh;
}

.header {
    height: 80px;
    min-height: 80px;
    position: fixed;
    background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
}



.logo {
    background-image: url(../img/logo.png);
    display: inline-block;
    height: 58px;
    width: 166px;
    margin-top: 10px;
}

.nav {
    display: flex;
    float: right;
    margin-top: 20px;
    height: 40px;
}

.nav li {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
}

.nav li a  {
    display: block;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    letter-spacing: 1px;
    color:#8d99af;
    font-weight: 500;

}

.nav li:not(.main-white-button) {
    text-transform: uppercase;
}

.main-white-button {
    padding: 0 20px;
    background-color: #8d99af;
    border-radius: 5px;
    margin-right: -30px;
}

.main-white-button a {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #fff!important;
}

.main-white-button a i {
    /* font-size: ; */
    display: inline-block;
    background-color: #fff;
    color: #8d99af;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
}

.banner {
    background-image: url(../img/banner.jpg);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 290px 0 180px 0;
    height: 834px;
}

.banner .main-banner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 0;
    height: 364px;
    /* background-color: #fff; */
    flex-direction: column;
}


.banner-header {
    width: 100%;
    height: 132px;
    text-align: center;
    color: #fff;
}

.banner-header h6 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-header h2 {
    height: 54px;
    line-height: 54px;
    font-size: 45px;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 45px;
}

#search-form {
    border-radius: 999px;
}

.banner-search, #search-form {
    width: 100%;
    /* max-width: 100%; */
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}


.main-banner-search {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.search-form-item {
    width: 25%;
    padding: 0 12px;
    margin: auto auto;
}

.form-select {
    width: 100%;
    padding: 6px 36px 6px 50px;
    font-size: 15px;
    border-color: #fff;
    color: #333;
    border-radius: 0.25rem;
    outline: 0;
}

option {
    padding: 0px 2px 1px;
    min-height: 1.2em;
}


form#search-form input {
    width: 100%;
    height: 36px;
    border: none;
    font-size: 15px;
    font-family: inherit;
    line-height: inherit;
    outline: 0;
}

form#search-form .searchText {
    padding: 0 30px;
    border-left: 1px solid #8d99af;
    border-right: 1px solid #8d99af;
}

.search-button {
    width: 100%;
    height: 100%;
    background-color: #8d99af;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 12px;
}

.main-banner-search div:last-child {
    margin-right: -13px;
}

.search-button i {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #8d99af;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

.banner-nav {
    width: 100%;
    height: 162px;
    text-align: center;
    padding: 0 122px;
}

.banner-nav .categories {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0;
    height: 102px;
}

.banner-nav .categories li {
    display: inline-block;
    width: 18%;
    text-align: center;
    
}


.banner-nav .categories li a {
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.banner-nav .categories li .icon {
    display: block;
    margin: 0 auto 12px auto;
    width: 66px;
    height: 66px;
    line-height: 78px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    color: #8d99af;
    transition: 0.2s all linear;
}

.banner-nav .categories li .icon:hover {
    background-color: #2b2d42;
}

.banner-nav .categories li .icon img {
    max-width: 27px;
}


.popular-categories {
    margin-top: 120px;
    height: 801px;
}   

.popular-categories .section-heading {
    height: 167px;
    text-align: center;
    margin-bottom: 80px;
}

.popular-categories .section-heading h2 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 44px;
    position: relative;
    color: #333;
}

.popular-categories .section-heading h6 {
    font-size: 15px;
    font-family: 500;
    color: #8d99af;
}

.popular-categories .section-services {
    height: 634px;
    position: relative;
    background-color: #2b2d42;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.popular-categories .section-services .menu-services {
    width: 25%;
    padding-right: 18px;
}

.popular-categories .section-services .menu-services .thumb {
    height: 126px;
    background-color: #8d99af;
    font-size: 15px;
    text-align: left;
    padding: 0 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.4s all linear;
    color: #fff;
}


.popular-categories .section-services .menu-services .thumb:not(:last-of-type) {
    margin-bottom: 1px;
}

.popular-categories .icon {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    line-height: 78px;
    background-color: #fff;
    margin-right: 15px;
}

.popular-categories .section-services .menu-services .thumb:hover {
    background-color: #2b2d42;
    color: #fff;
}

.service-content {
    display: flex;
    flex-direction: row;
}

.service-desc {
    width: 41.6667%;
}

.service-img {
    width: 58.3333%;
}